{% extends "index.html" %}

{% block content %}
<h2>Thanks for being willing to donate!</h2>
<p>
感谢您愿意花时间来阅读本文章并捐助本软件的开发与完善，您的捐款将会用于持续开发本软件，维持本软件的
<strong>下载</strong>
以及
<strong>自动更新</strong>
服务。
</p>
<p>
在您的捐助下，我们承诺尽可能地维持本软件的常规更新，包括
<strong>修补漏洞</strong>、
<strong>按月推送最新的豆瓣电台频道列表</strong>、
<strong>持续推出新功能</strong>
等。
</p>
<h2>
捐助须知
</h2>
<p>
本软件暂时只支持通过支付宝的小额捐助，为了显得更GEEK一些，本人建议您以
<strong>拉姆奇数</strong>
<a href="http://zh.wikipedia.org/wiki/%E6%8B%89%E5%A7%86%E9%BD%90%E5%AE%9A%E7%90%86" target="_blank" >(Wiki)</a>
作为捐款的额度。
</p>
<p>下面提供几个拉姆齐数的例子，如果您真的想捐助超过下面所给出的拉姆塞数值的金额，且能证明您的捐款额度为某一拉姆齐数，那么本人希望您能同时提供您的签名照。</p>
<table border="0">
    <th colspan="7">
        拉姆齐数举例
    </th>
    <tr>
    	<td>6</td>
    	<td>9</td>
    	<td>14</td>
    	<td>18</td>
    	<td>23</td>
    	<td>28</td>
    	<td>36</td>
    </tr>
</table>
<p>捐助时请留下您的邮箱，以便于给您发送收款确认邮件。</p>
<a href="http://me.alipay.com/antsz">支付宝捐助连接</a>
<style type="text/css">
    strong{color:#09f}
</style>
{% endblock %}
